body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* 整体页面 */

.page {
    width: 100%;
    overflow: hidden;
}


/* 主干 */

.panel {
    z-index: 1;
    position: absolute;
    background: #ffffff;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.page,
.panel {
    width: 100%;
    height: 100%;
}


/* 主干的header */

.panel>.panel-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10px;
    height: 56px;
    background: #f7f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.panel>.panel-content {
    position: absolute;
    top: 56px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    overflow: auto;
}


/* 列表 */

.list-block {
    /* margin: 1.75rem 0; */
    font-size: 0.85rem;
}

.list-block ul {
    background: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.list-block ul:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.list-block ul:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.list-block li {
    box-sizing: border-box;
    position: relative;
}

a.item-content {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.list-block .item-link .item-inner {
    padding-right: 1.5rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFW…Offm8m7QCK7foog+tFi2mZACg3npPkRUxrtkitgvUtwAA5A3LWdzPizwAAAABJRU5ErkJggg==);
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .5rem) center;
}

.list-block .item-title {
    -webkit-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.list-block .item-link .item-inner {
    padding-right: 1.5rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFW…Offm8m7QCK7foog+tFi2mZACg3npPkRUxrtkitgvUtwAA5A3LWdzPizwAAAABJRU5ErkJggg==);
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .5rem) center;
}

.list-block .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.list-block .item-inner {
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.35rem;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.refresh-layer {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -56px;
}

.loadmore-layer {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}